
#auth-reset-emailInput-container input {
    margin-top: 30%;
    height: 50%;
    width: 100%;
}

#auth-reset-button-container {
    margin-top: 20%;
}

.reset-passwordBtn-container {
   justify-content: center;
}