#register-page-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
}

#auth-register-form-wrapper {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-self: center;
}

.auth-form-title {
    border: 1px solid yellow;
}
.auth-form-container {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.auth-from-container-left {
    border: 1px solid green;
    width: 60%;
    height: 100%;
}

.auth-from-container-right {
    border: 1px solid pink;
    width: 40%;
}